<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SPHSolverUI</title>
</head>
<body>
    <div style="font-size:15px">
    <details style="float: left; width: 20%;">
        <summary style="padding: 1em; background-color: #E0D7E5; color: #675470; border-right: inset #CFBFD7 2px; box-shadow: 1px 1px 2px #BCB0C1; cursor: pointer; list-style: none; font-weight:bold;">Voxels</summary>
        <a href="http://www.google.co.jp/">obj creation</a><br><a href="https://www.google.co.jp/">test.py</a>
    </details>

    <details style="float: left; width: 20%;">
        <summary style="padding: 1em; background-color: #E0D7E5; color: #675470; border-right: inset #CFBFD7 2px; box-shadow: 1px 1px 2px #BCB0C1; cursor: pointer; list-style: none; font-weight:bold;">Boundary</summary>
        <a href="http://www.google.co.jp/">obj creation</a>
    </details>
    <details style="float: left; width: 20%;">
        <summary style="padding: 1em; background-color: #E0D7E5; color: #675470; border-right: inset #CFBFD7 2px; box-shadow: 1px 1px 2px #BCB0C1; cursor: pointer; list-style: none; font-weight:bold;">Inlet </summary>
        <a href="http://www.google.co.jp/">obj creation</a>
    </details>
    <details style="float: left; width: 20%;">
        <summary style="padding: 1em; background-color: #E0D7E5; color: #675470; border-right: inset #CFBFD7 2px; box-shadow: 1px 1px 2px #BCB0C1; cursor: pointer; list-style: none; font-weight:bold;">SPHsolvers</summary>
        <a href="http://www.google.co.jp/">compute flow velocity</a><br><a href="https://www.google.co.jp/">Demo.py</a>
    </details>
    <details style="float: left; width: 20%;">
        <summary style="padding: 1em; background-color: #E0D7E5; color: #675470; box-shadow: 1px 1px 2px #BCB0C1; cursor: pointer; list-style: none; font-weight:bold;">Data analysis</summary>
    </details><br>
    <p style="clear: both">&nbsp;</p></div>
    <script><!--java script-->

    </script>

</body>
</html>