<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>

<style type="text/css">
    ._main{
        margin: 0 auto;
    }
    ._header{
        display:flex;
        width:100vw;
        height:8vh;
        font-size:20px;
    }
    #_menu{
        display: flex;
        flex-direction: column;
        width:220px;
        height: 90vh;
        float:left;
        font-size:18px;
    }
    #_excute_block{
        width: calc(100vw - 220px - 1em);
        height: 90vh;
        margin-left: 220px;
    }

</style>

<body marginwidth="0"
      style="background:#E0E0E0;">

<header class="_header">
    <a href="SPHapp.html"
       style="padding:1em; color: #606060; text-decoration: none; font-weight:bold; align-content: space-around;">SPH solver manual & UI interface</a>
</header>
<div class="_main">
    <aside id="_menu">
        <a style="padding-left:1em; padding-top: 1em; height: 50px; background-color: #999999; color: #FFD812; font-weight:bold; text-decoration: none;"
           href="voxels.html">Voxels</a>
        <a style="padding-left:1em; padding-top: 1em; height: 50px; background-color: #999999; color: #FFD812; font-weight:bold; text-decoration: none;"
           href="boundary.html">Boundary</a>
        <a style="padding-left:1em; padding-top: 1em; height: 50px; background-color: #999999; color: #FFD812; font-weight:bold; text-decoration: none;"
           href="inlet.html">Inlet</a>
        <a style="padding-left:1em; padding-top: 1em; height: 50px; background-color: #999999; color: #00e6a6; font-weight:bold; text-decoration: none;"
           href="sphsolver.html">SPHsolver</a>
            <a style="padding-left:2em; padding-top:0.5em; padding-bottom:0.5em; height: 60px; background-color: #858585; color: #FFD812; font-weight:bold; text-decoration: none;"
               href="inlet.html">Compute flow velocity</a>
            <a style="padding-left:2em; padding-top:0.5em; padding-bottom:0.5em; height: 30px; background-color: #858585; color: #FFD812; font-weight:bold; text-decoration: none;"
               href="inlet.html">Demo.py</a>
        <a style="padding-left:1em; padding-top: 1em; height: 50px; background-color: #999999; color: #FFD812; font-weight:bold; text-decoration: none;"
           href="analysis.html">Data analysis</a>
        <a style="padding-top: 1em; height: calc(90vh - 250px - 5em); background-color: #999999; color: #FFD812; font-weight:bold; text-decoration: none;"> </a>
    </aside>

    <section id="_excute_block">
        <a href="SPHapp.html"> click here</a>
    </section>

</div>

</body>
</html>